{% trans_default_domain 'FOSUserBundle' %}

{#<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">#}
    {#<div>#}
        {#{% if invalid_username is defined %}#}
            {#<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>#}
        {#{% endif %}#}
        {#<label for="username">{{ 'resetting.request.username'|trans }}</label>#}
        {#<input type="text" id="username" name="username" required="required" />#}
    {#</div>#}
    {#<div>#}
        {#<input type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
    {#</div>#}
{#</form>#}

{% block form %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {% if invalid_username is defined %}
            <p>{{ 'Invalid Username or Email'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <input type="text" id="username" class="form-control" name="username" placeholder="Username / Email" required="required" />

        {#this part is kept here to add a space between username input and submit button#}
        <div id="remember" class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="_submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}">Reset</button>
        {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
    </form><!-- /form -->
    <a href="#" class="forgot-password">
        Login
    </a>

{% endblock form %}
