{% extends "@App/classroom/classroomLayout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/teacherClassroom.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="videoContainer">
        <video id="localVideo"></video>
        <div id="remoteVideos"></div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var myRole = 'teacher';
    </script>
    <script src="{{ '/js/simplewebrtc.bundle.js' }}" type="text/javascript"></script>
    <script src="{{ '/js/siploWebRTC.js' }}" type="text/javascript"></script>
{% endblock %}