{% extends "@App/schedule/scheduleLayout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/css/fullcalendar.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/css/classSchedule.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="row" style="margin-top: 5%">
        {% embed "@SiploScheduler/Calendar/classSchedule.html.twig" %}
        {% endembed %}
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ '/assets/vendor/moment/moment.js' }}" type="text/javascript"></script>
    <script src="{{ '/assets/vendor/fullcalendar/dist/fullcalendar.js' }}" type="text/javascript"></script>
{% endblock %}